<a href="https://colab.research.google.com/github/marongkang/MLeveryday/blob/main/MLEveryday5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ML** **day5** 
>今天的目标是 Pandas,Urllib.request

In [ ]:
#使用urllib来获取在线数据集
import urllib.request
#原来Titanic.csv链接已经失效，现以我的github主页为例
url="https://github.com/marongkang/"
response=urllib.request.urlopen(url)
print("查看 response 的返回类型：",type(response))

查看 response 的返回类型： <class 'http.client.HTTPResponse'>

In [ ]:
print("查看反应地址信息: ",response)

查看反应地址信息:  <http.client.HTTPResponse object at 0x7f689788d110>

In [ ]:
print("查看头部信息1(http header)：\n",response.info())
print("查看头部信息2(http header)：\n",response.getheaders())

查看头部信息1(http header)：
 Server: GitHub.com
Date: Fri, 03 Dec 2021 09:02:13 GMT
Content-Type: text/html; charset=utf-8
Vary: X-Requested-With, X-PJAX-Container, Accept-Encoding, Accept, X-Requested-With
permissions-policy: interest-cohort=()
ETag: W/"c9bc275b39eb9a423b487c16bb1151cd"
Cache-Control: max-age=0, private, must-revalidate
Strict-Transport-Security: max-age=31536000; includeSubdomains; preload
X-Frame-Options: deny
X-Content-Type-Options: nosniff
X-XSS-Protection: 0
Referrer-Policy: origin-when-cross-origin, strict-origin-when-cross-origin
Expect-CT: max-age=2592000, report-uri="https://api.github.com/_private/browser/errors"
Content-Security-Policy: default-src 'none'; base-uri 'self'; block-all-mixed-content; child-src github.com/assets-cdn/worker/ gist.github.com/assets-cdn/worker/; connect-src 'self' uploads.github.com objects-origin.githubusercontent.com www.githubstatus.com collector.githubapp.com api.github.com github-cloud.s3.amazonaws.com github-production-repository-file-5c1aeb.s3.amazonaws.com github-production-upload-manifest-file-7fdce7.s3.amazonaws.com github-production-user-asset-6210df.s3.amazonaws.com cdn.optimizely.com logx.optimizely.com/v1/events translator.github.com wss://alive.github.com; font-src github.githubassets.com; form-action 'self' github.com gist.github.com objects-origin.githubusercontent.com; frame-ancestors 'none'; frame-src render.githubusercontent.com viewscreen.githubusercontent.com notebooks.githubusercontent.com; img-src 'self' data: github.githubassets.com identicons.github.com collector.githubapp.com github-cloud.s3.amazonaws.com secured-user-images.githubusercontent.com/ *.githubusercontent.com; manifest-src 'self'; media-src github.com user-images.githubusercontent.com/; script-src github.githubassets.com; style-src 'unsafe-inline' github.githubassets.com; worker-src github.com/assets-cdn/worker/ gist.github.com/assets-cdn/worker/
Set-Cookie: _gh_sess=M%2FMkUCdlMP3OQ8iK7u50haJ%2BUSnTXXpn%2FZhi8fGBah77j%2FTUL3FrGmPil%2Fy2iGL1J7cvnc%2BW9Nb2V5SqtTa4vwWYg883TEvxLQFtokUkvbQnbkXZ1MN%2FmsiCueINorOQMZJl19T1SCr7%2BHGNZ%2FApkpcfRKZH85hhReCTDbQaMmuo%2FganDLPjzG7KUnWUYimPEYYIWpN6u8z0yfqtcHbZ4SReX3WRju22N5NuzOOBXCjoRFqakwPKSSnqB66pb5qDnaRggM8RGCTfK38LVArBZA%3D%3D--c3oxPjfmCr41dHtE--fd9TmQtioVSsMrr35zS88g%3D%3D; Path=/; HttpOnly; Secure; SameSite=Lax
Set-Cookie: _octo=GH1.1.911990286.1638522132; Path=/; Domain=github.com; Expires=Sat, 03 Dec 2022 09:02:12 GMT; Secure; SameSite=Lax
Set-Cookie: logged_in=no; Path=/; Domain=github.com; Expires=Sat, 03 Dec 2022 09:02:12 GMT; HttpOnly; Secure; SameSite=Lax
Accept-Ranges: bytes
Transfer-Encoding: chunked
X-GitHub-Request-Id: C402:6740:4A7EFA:7B47C1:61A9DD14
connection: close


查看头部信息2(http header)：
 [('Server', 'GitHub.com'), ('Date', 'Fri, 03 Dec 2021 09:02:13 GMT'), ('Content-Type', 'text/html; charset=utf-8'), ('Vary', 'X-Requested-With, X-PJAX-Container, Accept-Encoding, Accept, X-Requested-With'), ('permissions-policy', 'interest-cohort=()'), ('ETag', 'W/"c9bc275b39eb9a423b487c16bb1151cd"'), ('Cache-Control', 'max-age=0, private, must-revalidate'), ('Strict-Transport-Security', 'max-age=31536000; includeSubdomains; preload'), ('X-Frame-Options', 'deny'), ('X-Content-Type-Options', 'nosniff'), ('X-XSS-Protection', '0'), ('Referrer-Policy', 'origin-when-cross-origin, strict-origin-when-cross-origin'), ('Expect-CT', 'max-age=2592000, report-uri="https://api.github.com/_private/browser/errors"'), ('Content-Security-Policy', "default-src 'none'; base-uri 'self'; block-all-mixed-content; child-src github.com/assets-cdn/worker/ gist.github.com/assets-cdn/worker/; connect-src 'self' uploads.github.com objects-origin.githubusercontent.com www.githubstatus.com collector.githubapp.com api.github.com github-cloud.s3.amazonaws.com github-production-repository-file-5c1aeb.s3.amazonaws.com github-production-upload-manifest-file-7fdce7.s3.amazonaws.com github-production-user-asset-6210df.s3.amazonaws.com cdn.optimizely.com logx.optimizely.com/v1/events translator.github.com wss://alive.github.com; font-src github.githubassets.com; form-action 'self' github.com gist.github.com objects-origin.githubusercontent.com; frame-ancestors 'none'; frame-src render.githubusercontent.com viewscreen.githubusercontent.com notebooks.githubusercontent.com; img-src 'self' data: github.githubassets.com identicons.github.com collector.githubapp.com github-cloud.s3.amazonaws.com secured-user-images.githubusercontent.com/ *.githubusercontent.com; manifest-src 'self'; media-src github.com user-images.githubusercontent.com/; script-src github.githubassets.com; style-src 'unsafe-inline' github.githubassets.com; worker-src github.com/assets-cdn/worker/ gist.github.com/assets-cdn/worker/"), ('Set-Cookie', '_gh_sess=M%2FMkUCdlMP3OQ8iK7u50haJ%2BUSnTXXpn%2FZhi8fGBah77j%2FTUL3FrGmPil%2Fy2iGL1J7cvnc%2BW9Nb2V5SqtTa4vwWYg883TEvxLQFtokUkvbQnbkXZ1MN%2FmsiCueINorOQMZJl19T1SCr7%2BHGNZ%2FApkpcfRKZH85hhReCTDbQaMmuo%2FganDLPjzG7KUnWUYimPEYYIWpN6u8z0yfqtcHbZ4SReX3WRju22N5NuzOOBXCjoRFqakwPKSSnqB66pb5qDnaRggM8RGCTfK38LVArBZA%3D%3D--c3oxPjfmCr41dHtE--fd9TmQtioVSsMrr35zS88g%3D%3D; Path=/; HttpOnly; Secure; SameSite=Lax'), ('Set-Cookie', '_octo=GH1.1.911990286.1638522132; Path=/; Domain=github.com; Expires=Sat, 03 Dec 2022 09:02:12 GMT; Secure; SameSite=Lax'), ('Set-Cookie', 'logged_in=no; Path=/; Domain=github.com; Expires=Sat, 03 Dec 2022 09:02:12 GMT; HttpOnly; Secure; SameSite=Lax'), ('Accept-Ranges', 'bytes'), ('Transfer-Encoding', 'chunked'), ('X-GitHub-Request-Id', 'C402:6740:4A7EFA:7B47C1:61A9DD14'), ('connection', 'close')]

In [ ]:
print("输出头部属性信息：",response.getheader("Server"))
print("查看响应状态信息1(http status)：\n",response.status)
print("查看响应状态信息2(http status)：\n",response.getcode())

输出头部属性信息： GitHub.com
查看响应状态信息1(http status)：
 200
查看响应状态信息2(http status)：
 200

In [ ]:
print("查看响应 url 地址：\n",response.geturl())

查看响应 url 地址：
 https://github.com/marongkang/

In [ ]:
page = response.read()
#输出格式utf-8
print(type(response))
print(type(page))
#print("输出网页源码:",page.decode('utf-8'))

<class 'http.client.HTTPResponse'>
<class 'bytes'>

In [ ]:
#titanc.csv
url2="https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
print(type(response))
response2=urllib.request.urlopen(url2);
page2=response2.read()
print(page.decode('utf-8'))

<class 'http.client.HTTPResponse'>

In [ ]:

#打开titanic.csv文件

#Jupyter内可这样写，但是colab和pycharm会报错，建议用下面那种写法
#with open('titanic.csv', 'wb') as f:
#    f.write(html)

f=open('titanic.csv', 'wb')
f.write(page2)
#查询文件
!ls -1

sample_data
titanic.csv

In [ ]:
import pandas as pd

#dataframe数据帧，pandas用于存储数据的对象
dataframe=pd.read_csv('titanic.csv')

#获取前n行,默认n=5
dataframe.head()
#dataframe.head(n=10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
'''
pclass: class of travel
name: full name of the passenger
sex: gender
age: numerical age
sibsp: # of siblings/spouse aboard
parch: number of parents/child aboard
ticket: ticket number
fare: cost of the ticket
cabin: location of room
emarked: port that the passenger embarked at (C - Cherbourg, S - Southampton, Q = Queenstown)
survived: survial metric (0 - died, 1 - survived)
'''

'\npclass: class of travel\nname: full name of the passenger\nsex: gender\nage: numerical age\nsibsp: # of siblings/spouse aboard\nparch: number of parents/child aboard\nticket: ticket number\nfare: cost of the ticket\ncabin: location of room\nemarked: port that the passenger embarked at (C - Cherbourg, S - Southampton, Q = Queenstown)\nsurvived: survial metric (0 - died, 1 - survived)\n'

In [ ]:
dataframe.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]